<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AndrewAdcock.com - Some thoughts on development{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{{ include('widgets/header.html.twig') }}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="main-content col col-12 col-md-9">
                {% block body %}{% endblock %}
            </div>
            <div class="sidebar-right col col-12 col-md-3">
                {% block sidebar %}
                    {{ include('widgets/aboutme.html.twig') }}
                {% endblock %}
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div><!-- main -->
{{ include('widgets/footer.html.twig') }}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
