<div class="archives">
  {% if categories|length > 0 %}
    <h4>Categories</h4>
    <ul>
      {% for category in categories %}
        <li><a href="/blog/{{ category.slug }}">{{ category.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
<hr>


  {% if archives|length > 0 %}
  <h4>Recent</h4>
    <ul>
      {% for archive in archives %}
      <li><a href="/blog/{{ archive.slug }}">{{ archive.title }} <span>({{ archive.publishedAt|date('m/d/Y') }})</span></a></li>
      {% endfor %}
    </ul>
  {% endif %}
</div>