<header class="header">
    <div class="container">
        <div class="logo-title">
            <div class="logo"><a href="{{ path('app_homepage') }}">AndrewAdcock.com</a></div>
            <div class="title"><a href="{{ path('app_homepage') }}">Andrew Adcock</a></div>
            <div class="subtitle">Some thoughts on development</div>
        </div>
        <div class="social">
            <ul>
                <li><a href="https://github.com/andrewadcock" target="_blank"><i class="fa fa-github"></i><span>Github</span></a></li>
                <li><a href="https://twitter.com/theandrewadcock" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                <li><a href="https://wordpress.org/support/profile/andrewadcock" target="_blank"><i class="fa fa-wordpress"></i><span>WordPress</span></a></li>
                <li><a href="https://www.linkedin.com/in/andrew-adcock-ab818613" target="_blank"><i class="fa fa-linkedin"></i><span>Linked In</span></a></li>
            </ul>
        </div>
    </div><!-- container -->
</header>
<div class="main-nav">
    <nav class="nav-main navbar-expand-md navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul>
                <li{% if app.request.get('_route') == 'app_homepage' %} class="active"{% endif %}><a href="{{ path('app_homepage') }}">Home</a></li>
                <li{% if app.request.get('_route') == 'app_about' %} class="active"{% endif %}><a href="{{ path('app_about') }}">About</a></li>
                <li{% if app.request.get('_route') == 'app_contact' %} class="active"{% endif %}><a href="{{ path('app_contact') }}">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>