<header class="header">
    <div class="container">
        <div class="logo-title">
            <div class="logo"><a href="{{ path('app_homepage') }}">AndrewAdcock.com</a></div>
            <div class="title"><a href="{{ path('app_homepage') }}">AndrewAdcock.com</a></div>
        </div>
        <div class="social">
            <ul>
                <li><a href="" target="_blank"><i class="fa fa-github"></i><span>Github</span></a></li>
                <li><a href="" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                <li><a href="" target="_blank"><i class="fa fa-wordpress"></i><span>WordPress</span></a></li>
                <li><a href="" target="_blank"><i class="fa fa-linkedin"></i><span>Linked In</span></a></li>
            </ul>
        </div>

        <div class="menu-btn">&nbsp;</div>
        <nav class="nav-main">
            <ul>
                <li><a href="{{ path('app_homepage') }}">Home</a></li>
                <li><a href="{{ path('app_about') }}">About</a></li>
                <li><a href="{{ path('app_contact') }}">Contact</a></li>
            </ul>
        </nav>
    </div><!-- container -->
</header>